$white: #fff;
$black: #333;
$red: #E31837;
$gold: #FFB81C;
$gray: #55595e;

.thumb-img {
  height: 30px;
  width: 30px;
}

.saved-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 10px;
  border: 1px solid $gold;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}