@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(90, 224, 195);
}

#lego-man {
  background-color: white;
  height: 380px;
  width: 380px;
  padding: 10px;
}

.name {
  font-family: 'Patua One', cursive;
  font-size: 3em;
}